extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

						a(class="navbar-brand", href='/') Fadi Bitar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/') Home
							li
								a(href='education') Education
							li
								a(href='programming') Programming
							li
								a(href='philosophy') Philosophy
							li
								a(href='http://www.github.com/fadfood5', target='_blank') Github
							li.active
								a(href='contact') Contact

		//BEGIN FEAUTURETTE
		.container.marketing
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Contact Information
						span.text-muted
					p.lead
						ul
							li	Phone: (813)765-6385
							li	E-mail: fadibitar@mail.usf.edu
				.col-md-5
					//img.featurette-image.img-responsive.center-block(src='../images/existentialism.jpg', alt='existentialism', width='180px', height='180px')
			hr.featurette-divider

		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Built with node.js
				a(href='#') Privacy
				|  ·
				a(href='#') Terms
