extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template 
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
						a(class="navbar-brand", href='/') Fadi Bitar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/') Home
							li
								a(href='education') Education
							li
								a(href='programming') Programming
							li.active
								a(href='philosophy') Philosophy
							li
								a(href='http://www.github.com/fadfood5', target='_blank') Github
							li
								a(href='contact') Contact
							
										
		//BEGIN FEAUTURETTE
		.container.marketing
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Existentialism 
						span.text-muted
					p.lead
						| Existentialism is a philosophical theory or approach that emphasizes the existence of the individual person as a free and responsible agent determining their own development through acts of the will.
				.col-md-5
					img.featurette-image.img-responsive.center-block(src='../images/existentialism.jpg', alt='existentialism', width='180px', height='180px')
			hr.featurette-divider
			.row.featurette
				.col-md-7.col-md-push-5
					h2.featurette-heading
						| Metaphysics
						span.text-muted 
					p.lead
						| Metaphysics is the branch of philosophy that deals with the first principles of things, including abstract concepts such as being, knowing, substance, cause, identity, time, and space.
				.col-md-5.col-md-pull-7
					img.featurette-image.img-responsive.center-block(src='../images/nietzsche.jpg', alt='metaphysics', width='180px', height='180px')
			hr.featurette-divider		
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Philosophy of Science
						span.text-muted 
					p.lead
						| Philosophy of science is a branch of philosophy concerned with the foundations, methods, and implications of science. The central questions of this study concern what qualifies as science, the reliability of scientific theories, and the ultimate purpose of science.
				.col-md-5
					img.featurette-image.img-responsive.center-block(src='../images/kuhn.jpeg', alt='phiSci',  width='180px', height='180px')
			hr.featurette-divider
		//END FEATURETTE
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Built with node.js 
				a(href='#') Privacy
				|  · 
				a(href='#') Terms
