extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template 
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
						a(class="navbar-brand", href='/') Fadi Bitar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href='/') Home
							li
								a(href='education') Education
							li
								a(href='programming') Programming
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
									| Dropdown 
									span.caret
							
		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Built with node.js 
				a(href='#') Privacy
				|  · 
				a(href='#') Terms
